/* Roboto Font */
@font-face {
    font-family: RobotoReg;
    src: url(/Resources/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

/* Universal Selector */
* {
    font-family: RobotoReg;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, var(--first-color), var(--second-color));
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Global Sectors */
section {
    padding: 40px 0;
}

.main-heading {
    margin: 20px 0;
    font-size: 4rem;
    text-align: center;
    color: var(--third-color);
}

.sub-heading {
    margin: 20px 0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--fourth-color);
}

.heading-line {
    width: 150px;
    height: 3px;
    background-color: var(--fourth-color);
    margin: 40px auto;
}

/* CSS variable */
:root {
    --first-color: #0d6efd;
    --second-color: #dc3545;
    --third-color: #fff;
    --fourth-color: #fd7e14;
}

/* Navigation CSS */
#navbar {
    background: linear-gradient(to left, var(--first-color), var(--second-color));
}

/* Hero Section CSS */
.header {
    height: 676px;
    width: 100%;
    position: relative;
}

.header video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.header .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, var(--first-color), var(--second-color));
    z-index: -1;
    mix-blend-mode: overlay;
}

/* Service Section Card Image Selector */
.hover-scale {
    transition: transform 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.05);
}

/* Membership Plan Section */
.plan-2 {
    position: relative;
    overflow: hidden;
}

.recommended {
    width: 300px;
    position: absolute;
    top: 7.5%;
    left: 42%;
    rotate: 45deg;
}

/* Testimonial Section CSS */
#testimonial img {
    height: 350px;
    object-position: 100% 20%;
}

.carousel-indicators button[type="button"] {
    height: 10px;
}

/* Blogs Section CSS */
.blog-img {
    transition: all 0.5s ease;
}

.blog-card:hover .blog-img {
    transform: scale(1.1);
}

/* FAQ Section CSS */
.accordion-button:not(.collapsed) {
    background-color: orange !important;
    color: white !important;
}  

/* Contact Us CSS */
#contact {
    background-image: url(/Resources/Image/Photo\ 8.jpg);
    opacity: 0.7;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}